{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-html-attrs",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  env: {
    development: {
      plugins: [
        'react-hot-loader/babel',
      ],
    }
  }
}
