/config/database.yml
/config/secrets.yml
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp
!/log/.keep
!/tmp/.keep
/coverage
/client/node_modules
/client/dist
/public/uploads
/public/assets
/vendor/*
npm-debug.log
yarn-debug.log*
yarn-error.log*
.byebug_history
.DS_Store
.env
