.hover1
  &:hover 
    .hover2
      display table

.hover2
  display none

.for_icons 
  span
    color blue
    cursor pointer
    margin-left 5px

.li_height
  padding 10px 
  margin-top 5px 
  height 40px 
  background #f1f1f1
