.reports-filter
  display flex
  align-items center
  justify-content flex-end
  margin-bottom 30px

  &-select
    min-width 102px
    margin-right 20px

  &-months-tabs
    li
      &.empty
        a
          color #777
      &.active
        a
          color #fff

  &-articles-tabs
    .article-overlap
      display flex
      align-items center
      justify-content space-between
      margin-bottom 10px

    .article-title
      font-weight bold

    .article-expand
      margin-left 10px
      font-size 24px
      line-height 0
      padding 7px 8.5px 7px 8px
      i
        line-height 0.75

    .article-depths-overlap
      list-style-type none
      padding-left 15px


      li.dep-list-item
        display flex
        align-items center
        justify-content space-between
        padding 3px 0

        .right-side
          margin-right 44px

  &-article
    &.expanded
      .article-overlap
        margin-bottom 0

      .article-depths-overlap
        display none

  .Select-menu-outer
    z-index 1000

.profit-wrapper
  padding-top 36px
  font-size 17px
