.registers-filter
  display flex
  align-items center
  justify-content flex-end

  &-select
    min-width 102px
    margin-right 20px

  &-months-tabs
    li
      &.empty
        a
          color #777
      &.active
        a
          color #fff

  .Select-menu-outer
    z-index 1000
