.registers-filter
  display flex
  align-items center
  margin-bottom 24px

  .Select
    min-width 100px
    &:not(:last-child)
      margin-right 10px

.registers-title
  margin-bottom 20px

.register-title-label
  font-style italic
  font-size 12px
  font-weight 600
  &.cost
    color red
  &.revenue
    color green
