.inline-form
  display flex
  align-items center
  justify-content space-between

.workspaceForm
  margin-right 9px
  margin-bottom 0
  display inline-flex
  align-items center
  justify-content space-between
  flex-grow 1
  
.form-btn-wrap
  display inline-flex

.form-group
  flex-grow 1
  margin-right 10px
  margin-bottom 0
