.navbar-main
  .dropdown-toggle
    font-weight 600

.qweqwe
  position:fixed
  bottom: 0px

@media screen and (min-width: 768px)
  .navbar-main
    position absolute
    left 50%
    transform translateX(-50%)
    z-index 1000

    .dropdown-menu
      text-align center
      transform translateX(-50%)
      left 50%
