.navbar-main
  .dropdown-toggle
    font-weight 600

.toaster
  position absolute
  left 0
  right 0
  z-index 1051
  opacity 0.9

@media screen and (min-width: 768px)
  .navbar-main
    position absolute
    left 50%
    transform translateX(-50%)
    z-index 1000

    .dropdown-menu
      text-align center
      transform translateX(-50%)
      left 50%
