.site-tabs
  .tabs-overlap
    display flex
    align-items center
    justify-content space-between

  .nav.nav-tabs
    margin-bottom 0px
    z-index 20
    position relative
    border 0

  .tab-pane.first
    .list-group-item:first-child
      border-top-left-radius 0

  .alert
    margin 5px 0
