.Select
  &.select-sm
    & > .Select-control 
      height 28px
      
      .Select-input
        height 28px

      .Select-value 
        line-height 30px 
        font-size 12px
        
      .Select-clear
        font-size 15px
